*,
body {
	font-family: 'Geologica Variable', sans-serif;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--bg-black: #0a0a0a;
	--text-primary: #ffffff;
	--text-secondary: rgba(255, 255, 255, 0.549);
	--nord-dark: #21232a;
	--nord-dark-alternative: #2c2e34; 
	--nord-light: #212639;
	--dark-gray: #202020;
	--neon: #2ebe6f;
	--neon-glow: rgba(46, 190, 111, 0.74);
}
